<main>
  <form [formGroup]="transactionForm" (ngSubmit)="submit()">
    <div>
      <label for="description">Description</label>

      <input id="description" type="text" formControlName="description" placeholder="Ex: Mercado" />
    </div>

    <div>
      <label for="amount">Amount</label>

      <input id="amount" type="number" formControlName="amount" placeholder="0.00" />
    </div>

    <div>
      <label for="date">Date</label>
      <input id="date" type="date" formControlName="date" />
    </div>

    <div>
      <label for="category">Category</label>
      <input id="category" type="text" formControlName="category" />
    </div>

    <div>
      <label for="type">Type</label>
      <input id="type" type="text" formControlName="type" />
    </div>

    <button type="submit">Create transaction</button>
  </form>
</main>
